.div1 img{
    width: 100%;
    padding: auto;
}
.div1{
    width: 500px;
    margin: auto;
    background-color: black;
    border-radius: 10px;

}
.div1 p{
    color: red;
    font-size: 20px;
}
.div2{
    width:500;
    height: 660;
    background-color: #040303;
    border-radius: 10px;
    margin: auto;
}
.div2 p{
    font-size: 30px;
    color: #fcfcfc;
    padding-left: 150;
}
.div2 video{
    padding: auto;
    width:100%;
    height: 500;
}
.div3{
    width: 500;
    height: 275;
    background-color: #461111;
    border-radius: 10px;
    margin: auto;
}
.div3 audio{
    padding: auto;
    width: 100%;
}
.div3 p{
    font-size: 20px;
    padding-left: 157;
    color: #B3541E;

}